/* FileName:    style.css 
   Author:      Ven Grollmus
   Created:     March 2022
   Description: CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Footer

******************************************/

/******************************/
/*     01. General Styles     */
/******************************/
/******************************/
/*         01.01.   Initial    /
/******************************/

html,
body {
    min-height: 75rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    background: #f7fafd;
    font-size: 18px;
}

p {
    text-align:justify;
}

h2 {
    text-align: center;
}

.scale-down {
    object-fit: scale-down;
}

figure {
    text-align: center;
}


li {
    margin-left: 20px;
}

#main {
    padding-top: 20px;    
}

/******************************/
/*         01.02.   Table      /
/******************************/
.tg {
    border-collapse:collapse;
    border-spacing:0;
    margin-bottom:10px;
}

.tg td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:14px;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-kftd {
    background-color:#efefef;
    text-align:left;
    vertical-align:top;
}

.tg .tg-c3ow {
    border-color:inherit;
    text-align:center;
    vertical-align:top;
}

.tg .tg-0lax {
    text-align:left;
    vertical-align:top;
}

/******************************/
/*         01.02.   Fonts      /
/******************************/
h2, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Antic Slab', serif;
}

/******************************/
/*     02. Footer             */
/******************************/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
